---
apiVersion: v1
kind: Service
metadata:
  name: "{{ ModuleName }}{{ SvcPrefix }}"
  namespace: "{{ Namespace | default('default') }}"
spec:
  type: NodePort
  selector:
    app: "{{ AppName if (AppName is defined and AppName != '') else ModuleName }}"
  ports:
{% for port in Ports %}
    - name: {{ port.name }}
      protocol: TCP
      port: {{ port.port | int }}
      targetPort: {{ port.targetPort | int }}
{% if port.nodePort is defined %}
      nodePort: {{ port.nodePort | int }}
{% endif %}
{% endfor %}

---
{% if IngressPort is defined %}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ ModuleName }}{{'-ingress'}}"
  namespace: "{{ Namespace | default('default') }}"
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
spec:
  ingressClassName: nginx
  rules:
    - host: "{{ ModuleName }}{{ DomainPrefix }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: "{{ ModuleSvcPod if (ModuleSvcPod is defined and ModuleSvcPod != '') else ModuleName }}"
                port:
                  number: {{ IngressPort | int}}
{% endif %}