/volumes
**/__pycache__
**/.DS_Store
**/.env
**/*.tfstate
**/*.tfstate.backup
**/.terraform
**/*.terraform.lock.hcl
**/kubeconfig.yaml
**/venv
**/.git
**/.metavolumnes
**/pt.pptx
/diagram/img
**/*cm*

# 테스트
**/stable
**/v1
**/v2
**/*bp*
**/test
**/evidnece
